@model List<portfolio.DAL.Entities.Experience>

<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>About</h3>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Howdy!</h3>

            <p>
                @ViewBag.aboutDetails
            </p>
        </div>
        @await Component.InvokeAsync("_SkillsComponentPartial")


    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="#0" class="btn btn--primary full-width">CV' mi indir.</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#0" class="btn full-width">Bana Ulaş</a>
        </div>

    </div> <!-- end about-content buttons -->

    <div class="row about-content about-content--timeline">

        <div class="col-full text-center">
            <h3>İş Deneyimim.</h3>
        </div>
        @foreach(var item in Model)
        {
            <div class="col-six tab-full left">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">@item.Date</p>
                            <h3>@item.Head</h3>
                            <h5>@item.Title</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>@item.Description</p>
                        </div>
                    </div>


                </div>
            </div>
        }

        


    </div> <

</section>